.setting-group-no-border .setting-item {
	border-top: none;
	padding-top: 4px;
	padding-bottom: 4px;
}

.bullet-span {
	display: inline-block;
	position: relative;
	left: 1em;
	transform: translateX(-50%);
}
